{% extends "layout.html" %}

{% block content %}
<h2>Edit</h2>
<p>Edit the task with ID = {{ old.id }}</p>

<form action="/edit-item/{{ old.id }}" method="POST">
    <input type="text" name="task" value="{{ old.text }}" size="100" maxlength="100">
    <select class="w3-padding-4" name="status">
        {% if old.active %}
        <option selected="selected">open</option>
        <option>closed</option>
        {% else %}
        <option>open</option>
        <option selected="selected">closed</option>
        {% endif %}
    </select>
    <div class="w3-padding-8"><input type="submit"></div>
</form>
{% endblock %}