<!doctype html>

<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    h1,h2,h3,h4,h5,h6 {font-weight: bold}
    .w3-navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    </style>

    <title>To Do App</title>

    <!-- top navigation bar -->
    <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large" style="z-index:4;">
        <li><a href="{{ url_for('index') }}" class="w3-theme-l1">To Do App</a></li>
        <li class="w3-hide-small"><a href="{{ url_for('index') }}" class="w3-hover-white">Home</a></li>
        <li class="w3-hide-small"><a href="{{ url_for('new_item') }}" class="w3-hover-black">New ToDoItem</a></li>
        <li class="w3-hide-small"><a href="{{ url_for('deleted_items') }}" class="w3-hover-black">Completed Items</a></li>
    </ul>

    <!-- main content -->
    <div class="w3-main" style="margin-left:10px">
        <div class="w3-row w3-padding-64">
            <div class="w3-onethird w3-container">
                {% block content %}{% endblock %}
                <br>
                <br>
                &copy Copyright 2016, <a href="http://www.intel.com">Intel Corporation</a>
            </div>
        </div>
    </div>
</html>